@model CommentViewModel

<DOCTYPE html>
    <html>
    <head>
    </head>
    <body>
        <form method="post" asp-action="DeleteCommentConfirmed" asp-route-id="@Model.CommentID">
            <h1>Are you sure you want to delete this comment?</h1>
            <div class="comment-list">
                <div class="comment">
                    <p class="comment-creator">Posted by: @Model.CreatorEmail.Split('@')[0]</p>
                    <p>Comment: @Model.CommentText</p>
                    <p>Date added: @Model.CommentDateAdded.ToShortDateString()</p>
                    <div class="comment-actions">
                        <button type="submit" class="btn btn-danger mx-1">Yes</button>
                        <a asp-controller="Comment" asp-action="Comments" asp-route-id="@Model.JokeID" class="btn btn-primary mx-1">No</a>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>





